node_modules/*
.vscode

# only expose easeljs.min/tweenjs.min.js/soundjs.min.js/preloadjs.min.js and jquery
!node_modules/*/
node_modules/*/*
!node_modules/*/lib/
node_modules/*/lib/*
!node_modules/*/lib/easeljs.min.js
!node_modules/*/lib/tweenjs.min.js
!node_modules/*/lib/soundjs.min.js
!node_modules/*/lib/preloadjs.min.js
!node_modules/jquery/jquery-3.4.0.slim.min.js
